/* About section styles */
.about-section {
    padding: 0 0 3rem 0;
}

.about-section .image {
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.about-section .image img {
    max-width: 300px; /* Set a fixed max-width for the image */
    width: 100%;     /* Ensure the image is responsive */
    height: auto;
    border-radius: 0 !important; /* Ensure no rounded corners */
    object-fit: cover; /* Ensures the image covers the area nicely */
}

.about-section .content {
    padding: .5rem;
}

@media (max-width: 767px) {
    .about-section .image {
        margin-bottom: .5rem;
    }
    .about-section .image img {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .about-section .image img {
        max-width: 300px; /* Ensure max width for larger screens */
        width: 100%;      /* Ensure the image is responsive */
        height: auto;     /* Maintain aspect ratio */
    }
}
